*{
    margin: 0%;
}
/* free styles */
.font-color{
    color:rgba(37, 36, 50, 1) ;
}
/* for logo font style start */
.logo-font{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 99px;
  font-style: normal;
  font-variation-settings:
    "width" 51px;
}
.font-style{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>;
  font-style: normal; */
}
/* for logo font style end */

/* Header start */
header{
    background-image: url('/assets/Hero-bg.png');
}
/* navigation bar and logo styles start */
nav{
    display: flex;
    justify-content: space-between; 
    padding: 50px 150px 208px;
}

nav ul li{
    list-style: none;
}
.logo{
    color: #4E47FF;
    font-weight: bolder;
    font-size: 34px;
}
.btn{
    width:132px ;
    height:48px ;
    background-color:#4E47FF;
    color: #ffff;
    border-radius: 10px;
    border: none;
}
/* navigation bar and logo styles start */

/* banner section start */
.banner{
    text-align: center;
    margin: 0px auto;
}
.banner-details{
    font-weight: bold;
    font-size: 65px;
    margin-bottom: 37px;
    color: rgba(37, 36, 50, 1);
}
.banner button{
    margin-bottom:156px ;
}
/* banner section end */
/* header end */

/* main start */
main{
    padding: 116px 160px 116px 140px;
}
/* action section */
.action{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 116px;
}
.action-title{
    font-weight: bold;
    font-size: 42px;
}
.action-description{
    font-weight: 400px;
    font-size: 24px;
    color: rgba(37, 36, 50, 0.5);
    margin: 23px 0px 23px;
}
.left_side a button{
    font-size: 16px;
    font-weight: bold;
    padding: 12px 20px;
    width: 200px;
}
img{
    border-radius: 48px;
}
/* action section end */

/* productive user section */

.productive-user{
    background-color: rgba(78, 71, 255, 0.1);
    margin: 0 auto;
    width: 1300px;
    height: 230px;
    padding: 60px 142px;
    border-radius: 40px;
}
.productive-user-title{
    text-align: center;
    margin-bottom: 40px;
    font-weight: bold;
    font-size: 38px;
}
.productive-user-sub-title{
    display: flex;
    text-align: center;
    justify-content: space-around;
}
.number{
    color: #4E47FF;
    font-weight: bold;
    font-size: 80px;
}
.productive-user-sub-title p{
    font-weight: 400px;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.5);
}
/* productive user section end */
/* feedback section start */
.feedback{
    margin: 137px 150px;
}
.feedback-title{
    font-weight: bold;
    font-size: 42px;
    text-align: center;
    margin-bottom: 50px;
    
}
.feedback-cards{
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
}
.card{
    background-color: #ffff;
    padding: 24px;
    border-radius: 14px;
    box-shadow: 0px 6px 10px 0px black;
    width: 366.67px;
    
    
    
}
.card-title{
    margin-top: 24px;
}
.reviews{
    display: flex;
    text-align: center;
}
.card p{
    margin:8px 0px 24px 0px ;
}
.feedback .reviews img{
    border-radius: 9999px;
    height: 40px;
    width: 40px;
}
.name-date{
    margin-left: 12px;
}
.reviewer-name{
    color: #757575;
}
.date{
    text-align: left;
    color: #b3b3b3;
}
/* feedback section end */
/* focus section start */
.focus-container {
    background-color: rgba(255, 228, 196, 0.635);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 60px 20px;
    width: 1280px;
    margin: 0 auto; 
    border-radius: 14px;
}


.focus-title{
    font-weight: bold;
    font-size: 50px;
    color: rgba(0, 0, 0, 1);
    margin-bottom: 20px;
}
.focus-des{
    color: #757575;
    margin-bottom: 20px;
}
.focus-container img{
    margin-top: 20px;
    border-radius: 48px;
}
/* focus section end */
/* lets touch section */
.get-touch{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    gap: 115px;
    font-size: 97px;
    color: rgba(0, 0, 0, 1);
    padding: 71px 0px;
    margin: 0 auto;
    width: 1340px;
}
.get-touch label{
    font-size: 50px;
    margin-top: 19px;
}

input[type="text"],input[type="email"],textarea{
    display: block;
    font-size: 20px;
    font-weight: 500px;
    padding: 20px 32px;
    border-radius: 10px;
    height: 50px;
    width: 497px;
    color: rgba(0, 0, 0, 0.5);
    margin-top: 10px;
}
.get-touch a button{
    width: 560px;
    border-radius: 10px;
    margin-top: 19px;
}
/* lets touch section end */
/* footer section */
footer{
    background-color: azure;
}
.footer-section {
    max-width: 1300px;
    margin: 0 auto;
    text-align: center;
    padding: 80px 20px;
    
}

.footer-logo{
    font-weight: bolder;
    font-size: 100px;
    color: #4E47FF;
    margin-bottom: 8px;
}
.footer-description,.footer-section a{
    color:rgba(137, 135, 161, 1);
}
.footer-description{
    margin-bottom: 20px;
}
.footer-section a {
    display: inline-block;
    margin: 0 12px ; 
    font-size: medium;
    color: rgba(137, 135, 161, 1);
    text-decoration: none;
}
