*{
    margin: 0%;
}
/* free styles */
.font-color{
    color:rgba(37, 36, 50, 1) ;
}
/* for logo font style start */
.logo-font{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 99px;
  font-style: normal;
  font-variation-settings:
    "width" 51px;
}
.font-style{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>;
  font-style: normal; */
}
/* for logo font style end */

/* Header start */
header{
    background-image: url('/Assets/Hero-bg.png');
}
/* navigation bar and logo styles start */
nav{
    display: flex;
    justify-content: space-between; 
    padding: 50px 150px 208px;
}

nav ul li{
    list-style: none;
}
.logo{
    color: #4E47FF;
    font-weight: bolder;
    font-size: 34px;
}
.btn{
    width:132px ;
    height:48px ;
    background-color:#4E47FF;
    color: #ffff;
    border-radius: 10px;
    border: none;
}
/* navigation bar and logo styles start */

/* banner section start */
.banner{
    text-align: center;
    margin: 0px auto;
}
.banner-details{
    font-weight: bold;
    font-size: 65px;
    margin-bottom: 37px;
    color: rgba(37, 36, 50, 1);
}
.banner button{
    margin-bottom:156px ;
}
/* banner section end */
/* header end */

/* main start */
main{
    padding: 116px 160px 116px 140px;
}
/* action section */
.action{
    display: flex;
    justify-content: space-between;
}
.action-title{
    font-weight: bold;
    font-size: 42px;
}
.action-description{
    font-weight: 400px;
    font-size: 24px;
    color: rgba(37, 36, 50, 0.5);
    margin: 23px 0px 23px;
}
.left_side a button{
    font-size: 16px;
    font-weight: bold;
    padding: 12px 20px;
    width: 200px;
}
img{
    border-radius: 48px;
}
/* action section end */
